<nav class="flex justify-between items-center p-5 bg-gray-300">
    <div class="flex justify-center">
      <img src="https://pbs.twimg.com/profile_images/937963393247461377/caTNUqSb_400x400.jpg" class="h-8 rounded-lg mr-2">
      <h2 class="text-2xl font-custom text-gray-700 cursor-default"> Health Challenge Tracker </h2>
    </div>
  
    <div class="flex justify-center">
      <div class="hidden md:flex space-x-2">

        <button class="px-4 text-green-900 rounded-md focus:outline-none font-semibold" routerLink="/table-view"> Table View </button>
  
        <button class="px-4 text-green-900 rounded-md focus:outline-none font-semibold" routerLink="/chart-view"> Chart View </button>
  
      </div>
    </div>
  </nav> 
