<div class="flex md:flex-col gap-5 justify-center items-center p-20">

    <div class="flex flex-col md:flex-row gap-20 p-0 md:p-10 rounded-lg">
    <div class="flex flex-col items-center md:items-stretch justify-center md:justify-center animate-fade-in">
     <!-- <div class="flex justify-start pb-2">
        <select id="itemsPerPage" [(ngModel)]="chartType" (change)="changeChartType(chartType)"
          class="px-4 py-3 w-full font-custom rounded-lg focus:outline-none bg-secondary-light text-white cursor-pointer">
          <option value="chart-bar-vertical">Vertical Bar Chart</option>
          <option value="chart-bar-horizontal">Horizontal Bar Chart</option>
        </select>
      </div> -->

      <div class="flex justify-start pb-2 my-2">
        <input [(ngModel)]="searchName" (input)="filterByName()" class="w-full px-4 py-3 font-sans rounded-lg bg-input-bg-color placeholder-input-placeholder-txt-color border border-gray-300 focus:outline-none" placeholder="Search by name"/>
      </div>

      <div class="bg-menu-body shadow-md w-80 rounded-md">
        <ul class=" mb-10">
          <li class="pt-3 pb-2 mb-6 font-sans text-lg text-center bg-menu-header rounded-md border border-gray-300"> Workout Profiles </li>

          <div class="max-h-60 md:h-80 border-none font-sans text-lg scrollbar-light overflow-y-auto ">

          <div *ngIf="FilterByName.length == 0" class="flex border-none justify-center items-center">
          <li class="w-64 m=2 font-custom text-center justify-center items-center"> No such users found </li> 
          </div>

          <div *ngFor="let user of FilterByName" class="flex border-none justify-center items-center">
          <li *ngIf="user.name !== selectedUser?.name"
            class="px-4 py-3 font-custom bg-menu-option rounded-lg m-2 hover:bg-purple-button-hover transition duration-300 cursor-pointer border border-gray-200 w-64"
            (click)="onSelectUser(user.id)">
            {{ user.name }}
          </li> 
          <li *ngIf="user.name === selectedUser?.name"
            class="px-4 py-3 font-custom bg-menu-option-active rounded-lg m-2 hover:bg-purple-button-hover transition duration-300 cursor-pointer border-r-4 border border-gray-200 border-menu-option-border shadow-sm w-64"
            (click)="onSelectUser(user.id)">
            {{ user.name }}
          </li> 
         </div> </div>
        </ul>
      </div>
    </div>
    
  
    <div class="flex flex-col justify-center md:justify-start px-2 md:px-10 bg-chart-bg shadow-md p-2 md:p-10 rounded-lg">
      <div class="flex justify-between pb-5">
        <h3 class="text-xl font-sans text-center">{{ selectedUser.name }}'s Workout Progress</h3>

        <select id="itemsPerPage" [(ngModel)]="chartType" (change)="changeChartType(chartType)"
          class="px-4 py-3 font-sans rounded-lg focus:outline-none bg-input-bg-color cursor-pointer border border-gray-300 focus:outline-none">
          <option value="chart-bar-vertical">Vertical Bar Chart</option>
          <option value="chart-bar-horizontal">Horizontal Bar Chart</option>
        </select>
      </div>

      <div *ngIf="selectedUser" class="w-full rounded-xl px-2 md: px-5 py-5 md:pb-10 mb-5 md: mb-0">
      
      <ngx-charts-bar-vertical
        *ngIf="chartType == 'chart-bar-vertical'"
        [view]="[chartWidth, chartHeight]"
        [scheme]="colorScheme"
        [results]="chartData"
        [gradient]="true"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="showLegend"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [roundEdges]="true"
        [animations]="true"
        [showGridLines]="false"
        [barPadding]="15"
        style="fill: #000;">
      </ngx-charts-bar-vertical>

      <ngx-charts-bar-horizontal
      *ngIf="chartType == 'chart-bar-horizontal'"
      [view]="[chartWidth, chartHeight]"
      [scheme]="colorScheme"
      [results]="chartData"
      [gradient]="true"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="showLegend"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [roundEdges]="true"
      [animations]="true"
      [showGridLines]="false"
      [barPadding]="15"
      style="fill: #000;">
    </ngx-charts-bar-horizontal>
    
    </div>
    </div>  
  
  </div>
</div>
  