<div class="grid grid-cols-1 px-5 md:px-20 animate-fade-in">
    <div class="flex flex-col md:flex-row justify-between pb-5 gap-3">
      <input [(ngModel)]="searchName" (input)="filterByNameType()" class="w-full md:w-1/3 px-4 py-3 placeholder-input-placeholder-txt-color bg-input-bg-color font-sans rounded-lg focus:outline-none" placeholder="Search by name"/>
  
      <select [(ngModel)]="workoutType" (change)="filterByNameType(workoutType)" id="workoutType" class="px-4 py-3 placeholder-input-placeholder-txt-color bg-input-bg-color rounded-lg focus:outline-none">
        <option value="">All</option>
        <option value="Running">Running</option>
        <option value="Swimming">Swimming</option>
        <option value="Yoga">Yoga</option>
        <option value="Cycling">Cycling</option>
      </select>
    </div>
  
    <div class="rounded-lg shadow-md overflow-x-auto">
      <table class="min-w-full font-sans md:font-custom shadow-lg rounded-lg overflow-hidden">
        <thead class="bg-table-header rounded-lg">
          <tr class="rounded-lg text-1xl">
            <th class="px-6 py-4 text-left whitespace-nowrap">Name</th>
            <th class="px-6 py-4 text-left whitespace-nowrap">Workouts</th>
            <th class="px-6 py-4 text-center whitespace-nowrap">Number of Workouts</th>
            <th class="px-6 py-4 text-center whitespace-nowrap">Total Workout Minutes</th>
          </tr>
        </thead>
        <tbody class="bg-table-body text-sm font-normal md:font-sans">
          <tr *ngIf="paginatedUsers.length == 0">
            <td colspan="4" class="px-6 py-5 text-1xl font-sans text-center">
              No such workouts found
            </td>
          </tr>

          <tr *ngFor="let user of paginatedUsers">
            <td class="px-6 py-6">{{ user.name }}</td>
            <td class="px-6 py-4">
              <span *ngFor="let workout of user.workouts; let i = index">
                {{ workout.type }}<span *ngIf="i < user.workouts.length - 1">, </span>
              </span>
            </td>
            <td class="px-6 py-4 font-light text-center">{{ getWorkoutCount(user.workouts) }}</td>
            <td class="px-6 py-4 font-light text-center">{{ getTotalMinutes(user.workouts) }} min</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="paginatedUsers.length != 0" class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-center text-center animate-fade-in">
    <div class="flex flex-wrap justify-center md:justify-end items-center gap-5 p-4">
      <button class="px-4 py-2 bg-button-bg rounded-md hover:bg-button-bg-hover focus:outline-none disabled:opacity-50 text-button-txt-color" 
        [disabled]="currentPage === 1" (click)="goToPreviousPage()">Previous</button>
  
      <div class="flex flex-wrap justify-center items-center space-x-1">
        <button *ngFor="let page of pages" 
          class="px-4 py-2 bg-button-bg-hover rounded-md hover:button-bg-hover" 
          [ngClass]="{'bg-button-bg-hover text-button-txt-color': currentPage === page, 'hover:bg-hover:button-bg': currentPage !== page}" 
          (click)="goToPage(page)">
          {{ page }}
        </button>
      </div>
  
    <button class="px-4 py-2 bg-button-bg rounded-md focus:outline-none hover:bg-button-bg-hover disabled:opacity-50 text-button-txt-color" 
        [disabled]="currentPage === totalPages" (click)="goToNextPage()">Next</button>
    </div>
  
    <div class="flex justify-center md:justify-start items-center gap-2 p-4">
     
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()" 
        class="px-4 py-2 rounded-lg focus:outline-none placeholder-default-placeholder-color text-default-txt-color bg-input-bg-color cursor-pointer">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
      <span class="text-md"> / page </span>
      
    </div>
  </div>
  