@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LouisGeorge';
    src: url('./assets/fonts/LouisGeorge.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
