@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; background: linear-gradient(to right,#f2f7fc,#ddecfa); background: linear-gradient(to left,#e4ecf3,#f5f3f4); }

@font-face {
    font-family: 'LouisGeorge';
    src: url('./assets/fonts/LouisGeorge.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
